<div ng-app="LocationsModule">
	
	<div class="panel panel-info" style="margin-bottom:5px">
	    <div class="panel-heading">
	        <h3 class="panel-title">Location: "<b>{{location_fullname}}</b>" </h3>
	    </div>
    	<div class="panel-body">{{location_description}}.</div>
	</div>

	<div class="panel panel-info">
		<div class="panel-heading">
		        <h3 class="panel-title">Location "<b>{{location_fullname}}</b>" Images:</h3>
		</div>
		<div class="row" style="margin-top:5px">
		
			<div ng-repeat="serverImage in serverImages track by $index">
			
				<div class="col-md-3">
						<div class="panel panel-default">
								<img ng-src="{{serverImage.image}}" class="img-responsive" class="img-rounded" />
						
								<div class="panel-footer clearfix">
									{{serverImage.imageName}}
								
						        	<div class="pull-right">
						        		<a style="color:red;" ng-click=''>Delete <span class="glyphicon glyphicon-remove"/></a>
						        	</div>
		   					 	</div>
	   					 </div>
				</div>					
			</div>
		</div>
	</div>		
</div>